@font-face {
    font-family: 'sb';
    src: url('../fonts/SofiaPro-Bold.woff2') format('woff2'),
        url('../fonts/SofiaPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'sr';
    src: url('../fonts/SofiaProRegular.woff2') format('woff2'),
        url('../fonts/SofiaProRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

